@import 'sass-bootstrap/lib/bootstrap';
@import 'mixins';

.cards {
  margin: 0;
  padding: 0;
  list-style: none;

  > .card-project,
  > .card-skill {
	width: $card-width;
	background: white;
	float: left;
	margin: 20px;
	padding: 0;
	@include roundedBorder(8px);
	@include dropShadow(2px, 5px, rgba(88, 88, 88, 0.75));

	> a {
	  border-top: 1px solid #d3d3d3;
	  border-bottom: 1px solid #d3d3d3;
	}

	> h3 {
	  text-align: center;
	  font-size: 1.5em;
	  margin: 10px 0;

	  > i {
		margin: 0 5px 0 0;
	  }
	}

	> p {
	  text-align: center;
	  padding: 10px;
	  margin: 0;
	}
  }

  > .card-project > a {
	display: block;
	width: $card-width;
	height: $card-width;

	> .overlay-zoom {
	  z-index: 1001;
	  width: $card-width;
	  height: $card-width;

	  &:hover {
		background: rgba(0, 0, 0, 0.4) url('../images/project_zoom.png') no-repeat center;
	  }
	}
  }

  > .card-skill {
	> p > i {
	  font-size: 1.4em;
	  color: #e3c12f;
	}
  }

}