@import 'sass-bootstrap/lib/bootstrap';
@import 'mixins';

.cards {
  margin: 0;
  padding: 0;
  list-style: none;

  > .card-project,
  > .card-skill {
	width: $card-width;
	background: white;
	float: left;
	margin: 20px;
	padding: 0;
	@include dropShadow(2px, 5px, rgba(88, 88, 88, 0.75));

	> h3 {
	  text-align: center;
	  margin: 10px;
	}

	> p {
	  text-align: center;
	  padding: 0 10px 10px 10px;
	}
  }

  > .card-project > a {
	display: block;
	width: $card-width;
	height: $card-width;

	> .overlay-zoom {
	  z-index: 1001;
	  width: $card-width;
	  height: $card-width;

	  &:hover {
		background: rgba(0, 0, 0, 0.5) url('../images/project_zoom.png') no-repeat center;
	  }
	}
  }

  > .card-skill {

  }

}