$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import 'mixins';

.cards {
  > .card {
	width: $card-width;
	background: white;
	float: left;
	margin: 20px;
	@include dropShadow(2px, 5px, rgba(88, 88, 88, 0.75));

	> a {
	  display: block;
	  width: $card-width;
	  height: $card-width;

	  > .overlay-zoom {
		z-index: 1001;
		width: $card-width;
		height: $card-width;

		&:hover {
		  background: rgba(0, 0, 0, 0.5) url('../images/project_zoom.png') no-repeat center;
		}
	  }
	}

	> h3 {
	  text-align: center;
	  margin: 10px;
	}

	> p {
	  text-align: center;
	  padding: 0 10px 10px 10px;
	}
  }

}