@import 'sass-bootstrap/lib/bootstrap';
@import 'mixins';

/* Custom page header */
.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.7);

  .header-content {
	max-width: $page-width;
	margin: 0 auto;
	padding: 0;
	height: $header-height;
	background: white;

	h3 {
	  margin: 0 0 0 $content-margin-left;
	  padding: 0;
	  font-size: 30px;
	  line-height: $header-height;
	  color: $text-color;
	  font-variant: small-caps;

	  span {
		color: lighten($text-color, 20);
	  }
	}
  }
}

.nav-items {
  font-size: 22px;
  padding-right: $header-padding;

  li {
	background: transparent;
	float: left;

	&.active {
	  &, a:hover {
		@include innerBorderBottom(lighten($text-color, 30), 6px);
		background: $content-background;
	  }
	}

	> a {
	  &:hover {
		@include innerBorderBottom(lighten($text-color, 50), 6px);
		background: lighten($content-background, 3);
	  }

	  color: $text-color;
	  background: transparent;
	  height: $header-height;
	  line-height: $header-height;
	  margin: 0;
	  padding: 0 15px;
	  min-width: 120px;
	  text-align: center;
	  font-variant: small-caps;

	  > i {
		margin-right: 6px;
	  }
	}
  }
}

#avatar {
  z-index: 2000;
  position: relative;
  left: #{-$avatar-size / 2};
  top: #{-$avatar-size / 2};
  width: 140px;
  height: 140px;
  background: url('../images/me.jpg') no-repeat;
  @include imageCircle(140px);
  @include dropShadow(2px, 5px, rgba(88, 88, 88, 0.75));
  border: solid white 3px;
}

#social-bar {
  z-index: 1500;
  position: relative;
  left: $social-bar-left;
  top: -$avatar-size;
  width: $social-bar-width;
  background: $content-background;
  @include dropShadow(2px, 5px, rgba(88, 88, 88, 0.75));

  > ul {
	padding: #{$avatar-size / 2 + $social-img-margin} 0 0 0;
	margin: 0 auto;
	width: $social-img-size;
	list-style: none;

	> li {
	  display: block;
	  width: $social-img-size;
	  padding-bottom: $social-img-margin;

	  > a:hover > img {
		@include imageCircle(15px);
	  }
	}
  }
}