@import 'variables';
@import 'sass-bootstrap/lib/bootstrap';
@import 'http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css';
@import 'mixins';
@import 'header';
@import 'footer';
@import 'cards';

.browsehappy {
  margin: 0.2em 0;
  padding: 0.2em 0;
  background: #ccc;
  color: #000;
}

/* Space out content a bit */
body {
  background: url('../images/background.png') repeat fixed;
  color: $text-color;
}

.container {
  background: $content-background;
  padding: $header-height 0 0 0;
  width: $page-width;
  max-width: $page-width;

  .content {
	padding-left: $content-margin-left;
  }
}

.section {
  padding: $section-margin 0 0 0;

  a[name] {
	padding-top: #{$header-height + $section-margin};
	margin-top: -#{$header-height + $section-margin};
	display: inline-block; /* required for webkit browsers */
  }

  > p {
	margin: 15px 20px;
	font-size: 12pt;
  }
}

#section-about {
  > p > strong {
	font-size: 1.3em;
	text-shadow: 1px 1px 1px lightgray;
  }
}

.clearer {
  clear: both;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $page-width + 40) {
  .container {
	max-width: $page-width;
  }

/* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
	padding-left: 0;
	padding-right: 0;
  }
/* Space out the masthead */
  .header {
	margin-bottom: 30px;
  }
/* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
	border-bottom: 0;
  }
}
