@import 'variables';
@import 'sass-bootstrap/lib/bootstrap';
@import 'http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css';
@import 'mixins';
@import 'header';
@import 'cards';

.browsehappy {
  margin: 0.2em 0;
  padding: 0.2em 0;
  background: #ccc;
  color: #000;
}

/* Space out content a bit */
body {
  background: url('../images/background.png') repeat fixed;
  color: $text-color;
}

.container {
  background: $content-background;
  padding-top: $header-height;
  padding-left: $content-margin-left;
  width: $page-width;
  max-width: $page-width;

  h2 {
	margin: 35px 0;
	font-variant: small-caps;
  }
}

.section {
  > p {
	margin: 0 20px 10px 20px;
  }
}

#section-about {
	> p > strong {
	  font-size: 1.3em;
	}
}

.clearer {
  clear: both;
}

/* Custom page footer */
.footer {
  clear: both;
  text-align: right;
  margin-top: 30px;
  padding-top: 15px;
  color: lighten($text-color, 15);
  border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $page-width + 40) {
  .container {
	max-width: $page-width;
  }

/* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
	padding-left: 0;
	padding-right: 0;
  }
/* Space out the masthead */
  .header {
	margin-bottom: 30px;
  }
/* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
	border-bottom: 0;
  }
}
