@import "variables";

@mixin innerBorderBottom($size, $color) {
  -moz-box-shadow: inset $color 0 0 -$size 0;
  -webkit-box-shadow: inset $color 0 0 -$size 0;
  box-shadow: inset $color 0 0 -$size 0;
}

@mixin innerBorder($size, $color) {
  -moz-box-shadow: inset $color $size;
  -webkit-box-shadow: inset $color $size;
  box-shadow: inset $color $size;
}

@mixin imageCircle($size) {
  border-radius: $size;
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
}

@mixin dropShadow($offset, $radius, $color) {
  @include shadow($offset, $offset, $radius, $color);
}

@mixin shadow($x-offset, $y-offset, $radius, $color) {
  box-shadow: $x-offset $y-offset $radius $color;
  -webkit-box-shadow: $x-offset $y-offset $radius $color;
  -moz-box-shadow: $x-offset $y-offset $radius $color;
}