$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";
$fontAwesomePath: "../components/font-awesome-more/font";

// General
$page-width: 1000px;
$text-color: #666666;

// Navbar
$header-height: 80px;
$header-padding: 15px;
$avatar-size: 140px;

// Social bar
$social-img-size: 64px;
$social-img-margin: 10px;
$social-bar-width: #{$social-img-size + $social-img-margin * 2};
$social-bar-left: #{-($social-img-size + $social-img-margin * 2) / 2};

// Content
$content-margin-left: 90px;
$content-background: #f2f2f2;

// Cards
$card-width: 250px;