$fontAwesomePath: '/styles/fonts/';

// General
$page-background: #3d4b6c;
$page-width: 1000px;
$text-color: #666666;

// Navbar
$header-height: 90px;
$header-padding: 15px;
$avatar-size: 140px;

// Social bar
$social-img-size: 64px;
$social-img-margin: 10px;
$social-bar-width: #{$social-img-size + $social-img-margin * 2};
$social-bar-left: #{-($social-img-size + $social-img-margin * 2) / 2};

// Content
$content-margin-left: 90px;
$content-background: #e5e5e5;

// Cards
$card-width: 250px;