$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";
$fontAwesomePath: "../components/font-awesome-more/font";

// General
$page-width: 950px;
$text-color: #666666;

// Navbar
$header-height: 80px;
